/* SECTION CARD_CONVERT */

.container-select {
  margin-top: 23px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.container-select select {
  width: 218px;
  height: auto;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-select select:focus {
  border: none;
  border-bottom: 2px solid #fff;
}
.container-select select:active {
  border: none;
  border-bottom: 2px solid #fff;
}

.container-select select option {
  color: black;
}

.container-select img {
  margin-left: 3px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.container-select input {
  margin: 4px 10px 0px 97px;
  width: 218px;
  background-color: #2e0039;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 7px;
  color: #fff;
  text-align: right;
}

.container-select input:focus {
  border: none;
  border-bottom: 2px solid #fff;
}
.container-select input:active {
  border: none;
  border-bottom: 2px solid #fff;
}

.container-select p {
  margin: 4px 88px 0px 9px;
  width: 27px;
  height: 17px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* PARTE DE ABAJO DE LA CARD */

.select-convert-container {
  display: flex;
  justify-content: space-between;
}

.select-convert-container img {
  justify-self: start;
  margin-top: 30px;
  max-width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.select-convert-container h3 {
  justify-self: end;
  height: 30px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.select-convert-container span {
  margin-left: 9px;
  margin-right: 108px;
  width: 118px;
  height: 30px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .container-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 16px;
  }
  
  .container-select input {
    margin: 4px 10px 0px 0px;
    width: 218px;
  }

  .container-select p {
    margin: 4px 8px 0px 9px;
  }

  .select-convert-container span {
    margin-right: 10px;
  }
}

.title-convert {
  margin-top: 24px;
  margin-left: 38px;
  color: #fff;
  width: 104px;
  height: 35px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
