/* SECTION CARD_CONVERT */

.container-convert {
  margin: 48px 0px 0px 529px;
  width: 714px;
  height: 193px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #2e0039;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
}

.title-convert {
  margin-top: 24px;
  margin-left: 38px;
  color: #fff;
  width: 104px;
  height: 35px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
