
/* CARD */

.card-saved {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 349px;
  width: 100%;
  height: 38px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e3e3e3;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.card-saved p {
  margin-left: 18px;
  width: 144px;
  height: 23px;
  flex-shrink: 0;
  color: #676767;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-saved img {
    margin-right: 7px;
}