.container-general {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-convert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 48px;
  padding-left: 38px;
  padding-top: 24px;
  max-width: 720px;
  width: auto;
  height: 193px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #2e0039;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
}

.main-convert h2 {
  width: 104px;
  height: 35px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 714px;
}

.title-saved {
  margin: 80px 0px 22px 0px;
  width: 100%;
  height: 26px;
  flex-shrink: 0;
  color: #676767;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-saved {
  margin: 0px 0px 200px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container-saved {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-convert {
    padding: 11px 0px 19px 21px;
    width: auto;
    height: 209px;
  }

  aside {
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  aside {
    text-align: start;
  }

  .title-saved {
    margin-left: 15px;
  }
}
